body,html{
    padding: 0;
    margin: 0;
}


.form-container{
 width: 100%;
}
.form{
    width: 100%;
}
.form__text{
    padding: 2px;
    padding-left: 0;
    padding-right: 0;
    width: 100%;
    margin-bottom: 0;
    box-sizing: border-box;
}
.form__submit{
    box-sizing: border-box;
    width: 90px;
    display: block;
    white-space: nowrap;
    vertical-align: middle;
}
.container{
    width: 100%;
    overflow: hidden;
}
.form__right{
    width: 105px;
}
[dir=ltr] .form__text{
    float: left;
}
[dir=rtl] .form__text{
    float: right;
}
[dir=ltr] .form__submit{
    float: right;
}
[dir=rtl] .form__submit{
    float: left;
}

[dir=ltr] .form__left{
    margin-right: 105px;
}
[dir=rtl] .form__left{
    margin-left: 105px;
}
[dir=ltr] .form__right{
    margin-left: -4px;
    float: right;
}
[dir=rtl] .form__right{
    margin-right: -4px;
    float: left;
}
.form_flex{
    display: flex;
    align-items: center;
}
[dir=ltr] .form_flex{
    flex-direction: row;
}
[dir=rtl] .form_flex{
    flex-direction: row-reverse;
}